.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #111827;
    padding: 20px 0;
  }
  
  .container .mainTop {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-around;
    padding: 20px;
  }
  
  .container .mainTop div {
    display: flex;
    flex-direction: column;
  }
  
  .container .mainTop h2 {
    color: #FFF;
  }
  
  .container .mainTop p {
    color: #979EAA;
  }
  
  .container .mainTop .links a {
    color: #1DA1F2;
    text-decoration: none;
    margin-right: 15px;
    transition: color 0.3s;
  }
  
  .container .mainTop .links a:hover {
    color: #FFF;
  }
  
  .container hr {
    width: 90%;
    border: 0;
    border-top: 1px solid #979EAA;
    margin: 20px 0;
  }
  
  .container .mainBottom {
    text-align: center;
  }
  
  .container .mainBottom h3 {
    color: #FFF;
    padding: 20px 0;
    font-size: 14px;
  }
  